<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <globalization culture="en-US" uiCulture="en" />
  </system.web>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="dotnet" arguments=".\OnlineShopTest.API.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
  </system.webServer>
</configuration>
<!--ProjectGuid: 954A0745-5CE9-41E1-A431-255321FDB75F-->